@model BPrep_BL.Model.Item

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Item</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReplaceBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReplaceBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DaysWarningOfReplacement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DaysWarningOfReplacement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kit.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kit.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
